<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>
  <body class="reg">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="w3-bar w3-black">
        <a href="addemployee" class="w3-bar-item w3-button">Add Specific Employee</a> <br>
        <a href="approveemployee" class="w3-bar-item w3-button">Approve Specific Employee</a> <br>
        <a href="deleteemployee" class="w3-bar-item w3-button">Delete Certain Employee Record</a> <br>
        <a href="showallemployee" class="w3-bar-item w3-button">Display All Employees</a> <br>
        <a href="searchemployee" class="w3-bar-item w3-button">Search Particular Employee</a> <br>
        <a href="updateemployee" class="w3-bar-item w3-button">Update Employee</a> <br>

    </div>

  </body>
</html>
