<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />

  </head>
  <body>

   <div class="w3-container w3-teal">
    <h1 class="a1" ><%= title %></h1>
  </div>  

  
  <div class="reg">


    <div class="a1" class="login" >
    <a href="admin" class="btn btn-warning text-white btn-lg mt-5"> Adminstrator Page</a><br></br.>
    <a href="login" class="btn btn-warning text-white btn-lg mt-5"> Customer Login</a><br></br.>
    <a href="customerregister" class="btn btn-warning text-white btn-lg mt-5"> Customer Registeration</a><br>
    </div><br><br>
    <br>
</div>  
    <div class="bgimg">
        <div class="container text-center text-white headerset">
          <h2>EACH YEAR, INDIA GENERATES</h2>
          <h1>63 MILLION TONNES OF WASTE</h1>
          <h3>
            By 2050, global waste levels will reach 3.4 billion tonnes per year
            unless waste generated per person is managed sustainably
          </h3>
          <br />
    <a href="aboutus" class="btn btn-warning text-white btn-lg mt-5">AboutUS</a>
    <a href="contactus" class="btn btn-warning text-white btn-lg mt-5"> ContactUS</a><br>
   </div>
  </body>
</html>
