<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EWaste Customer Login</title>
   
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
</head>

<body class="reg">
    <h1>Customer Login Page</h1>
    <hr />
    <br />
    <form action="/login" method="post">
        Enter Customer id :<input type="text" placeholder="Customer ID"name="cid"  /> <br />
         Enter Password : <input type="password" placeholder="Password" name="password" />
        <br />
        <input type="submit" value="log-in" />
    </form>
</body>

</html>